:root {
    --cyan: #2ab2af;
    --brignt-yellow: #c0df34;

    --ligth-gray: #e5eff5;
    --grayish-blue: #4abebd;


    --bg: #e6eff6;
    --white: #fff;

    --shadow: rgba(211, 211, 211, 0.7);
    --btn-shadow: rgba(0, 0, 0, 0.4);
}

@import url(normalize.css);

html,
body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}

body {
    font-family: 'Karla', sans-serif;
    flex-direction: column;
    background-color: var(--bg);
    flex-flow: row wrap;
}

.main {
    padding: 2rem;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    box-shadow: 1px 7px 20px var(--shadow);
    max-width: 720px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.join,
.price,
.why-us {
    padding: 2rem;
}

.price .card-header-title,
.why-us .card-header-title {
    font-size: 1.5rem;
    font-weight: 700;
}

.price,
.why-us {
    color: var(--white);
}

.join {
    background-color: var(--white);
    grid-area: join;
}

.price {
    background-color: var(--cyan);
    grid-area: price;
}

.why-us {
    background-color: var(--grayish-blue);
    grid-area: why-us;
}


.join .card-header-title {
    color: var(--cyan);
    font-size: 2rem;
    font-weight: 700;
}

.join .card-content-title {
    margin-top: 0;
    color: var(--brignt-yellow);
    font-size: 1.3rem
}

.join .card-content-text {
    color: var(--grayish-blue);
    font-size: 1.1rem;
    ;
    line-height: 1.5;
}

.price .card-content-price {
    margin: 0;
    font-size: 2.7rem;
    font-weight: 700;
}

.card-content-price span {
    color: var(--white);
    font-size: 1.1rem;
}

.price .card-content-button {
    margin: 2rem auto 0 auto;
    padding: 1.2rem;
    text-align: center;
    display: block;
    outline: none;
    text-decoration: none;
    border-radius: .5rem;
    background-color: var(--brignt-yellow);
    color: var(--white);
    margin-bottom: 1rem;
    box-shadow: 2px 4px 15px var(--btn-shadow);
}

@media screen and (min-width: 640px) {
    .container {
        display: grid;
        grid-template-rows: repeat(2 auto);
        grid-template-columns: repeat(2, 50%);
        grid-template-areas: "join join""price why-us";
    }
}